{% extends 'base.twig' %}

{% block title %} Liste {% endblock  %}

{% block content %} 

<br>
 <div class="row">
    <div class="col-sm-4">
<div class="card">
  <div class="card-header">Formualaire ajout evenement</div>
  <div class="card-body">
<form method="post" action="/add-activite">


  <div class="mb-3">
   <label for="" class="form-label">Intitule</label>
   <input type="text"
     class="form-control" name="intitule" id="intitule"  placeholder="Entrer intitule" autocomplete="off" required>
 </div>

 <div class="mb-3">
   <label for="" class="form-label">Type</label>
   <select class="form-control" name="categorie" id="division" required>
     <option value="">Selectionnez un type</option>
     <option value="Atelier">Atelier</option>
     <option value="Formation">Formation</option>
     <option value="Remise de diplôme">Remise de diplôme</option>
     <option value="Remise attestation">Remise d'attestation</option>
     <option value="Seminaire">Seminaire</option>
     <option value="Conference">Conférence</option>
     <option value="Café statistique">Café statistique</option>
     <option value="Autres">Autres</option>
   </select>
 </div>

  <div class="mb-3">
   <label for="" class="form-label">Direction</label>
   <select class="form-control" name="direction" id="profil" required>
     <option value="">Selectionnez la direction</option>
     <option value="DG">DG</option>
     <option value="SG">SG</option>
     <option value="ENSTAT">ENSTAT</option>
     <option value="CC">CC</option>
     <option value="USE">USE</option>
     <option value="DI">DI</option>
     <option value="DCMIS">DCMIS</option>
     <option value="DSEDS">DSEDS</option>
     <option value="DER">DER</option>
     <option value="DRH">DRH</option>
     <option value="DRFM">DRFM</option>
   </select>
 </div>

<button type="reset" class="btn btn-danger">VIDER</button>
<button type="submit" class="btn btn-primary">AJOUTER</button>


</form>
  </div>

</div>
    </div>








    <div class="col-sm-8">
<div class="card">
  <div class="card-header">Liste des evenements</div>
  <div class="card-body">
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>INTITULE</th>
        <th>CATEGORIE</th>
        <th>STRUCTURE</th>
      </tr>
    </thead>
    <tbody>
        {% for p in activites %}
       <tr>
        <td>{{p.intitule}}</td>
        <td>{{p.categorie}} </td>
        <td>{{p.direction}}</td>
       </tr>
    {% endfor %}
    </tbody>
  </table>
  
  </div>

</div>
    </div>

    
</div>
    
{% endblock %} 